
 nav{
    display: flex;
    align-items: center;
    padding:10px 20px;
 }

 
/* A logó marad bal oldalt */
.logo {
  width: 200px;
  height: auto;
}

/* Az első linket toljuk el jobbra */
nav a:first-of-type {
  margin-left: auto;  /* ettől “szétcsúszik”: logo bal, linkek jobb oldalon */
}


/* A linkek közti kis távolság */
nav a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}


@media (max-width: 600px) {
  nav {
        flex-direction: column;      /* egymás alá kerülnek */
        align-items: flex-start;     /* balra igazítva (vagy center, ha úgy jobban tetszik) */
        gap: 8px;
    }

    nav a:first-of-type {
        margin-left: 0; /* itt már ne tolja el jobbra */
    }

}


img{
    width: 200px;
    height: auto; 
    justify-self: left;  
}


.hero{
    justify-self: center;
    text-align: center;
    gap: 20px;
    margin: 50px;
}


.szolgaltatasok{
    display: flex;
    gap: 40px;
    justify-self: center;


}

@media (max-width: 600px) {
    .szolgaltatasok {
    flex-direction: column;
  }
}
.card{
    border:solid 1px black;
    border-radius: 100%;
    text-align: center;
    justify-content: center;   
    width: 300px;
    height: 300px;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
     
}
.card:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 1) 5px 5px 5px 5px;
}

#elso{
    background-color: lightblue;
}
#masodik{
    background-color: lightgreen;
}
#harmadik{
    background-color: lightpink;
}
.kapcsolat{
    text-align: center;
    margin:50px;
}


footer{
    background-color: black;
    color: aliceblue;
    text-align: center;

}
.button:hover{
    background-color: red;
    color: white;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 1) 5px 5px 5px 5px ;
   


}
.button{
    border-radius: 50px;
    background-color: blue;
    color: white;
}
